.Main {
  width: 100%;
position: relative;
  .openMenuWindow{
  width: 100%;
  position: absolute;
  }
  .openModalWindow{
    position: absolute;
    width: 100%;
  }
  .restoranName {
    width: 856px;
    height: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    font-size: 44px;
    margin-left: 200px;
  }

  .mainPhoto {
  position: relative;
  
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 749px;
    background: url("../../files/Rectangle.png") no-repeat center top / cover;
    background-repeat: no-repeat;
.entryWindow{
position: absolute;
left: 650px;
}
    .textMenu {
      width: 540px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 30px;
      margin-right: 100px;
      position: relative;
.entryWindow{
position: absolute;
width: 500px;
height: 500px;
}
.btnTextMenuAll{
display: flex;
width: 100px;
border: none;
background: none;
color: #ffffff;
}
.btnMenuLink{
  text-decoration: none;
}
      .btnTextMenu {
        width: 100px;
        height: 20px;
        background: none;
        display: flex;
        align-items: center;
        border: none;
      
        font-size: 18px;
        color: white;

      }
      .btnBron {
        background-color: #b59571;
        color: white;
        width: 165px;
        height: 42px;
        font-size: 18px;
        border: none;
        transition: all 500ms ease;
        &:hover {
          background: rgba(0, 0, 0, 0);
          color: #ffffff;
          box-shadow: inset 0 0 0 3px #b59571;
        }
      }
    }
  }
}

