.our {
  width: 100%;
  margin-top: 70px;

  .aboutRestaurant {
    margin: 0 auto;
    width: 100%;

    .ourRestaurant {
      display: flex;
      width: 100%;

      .header {
        width: 12%;
        position: absolute;

        .DeliveryText {
          display: flex;
          justify-content: space-around;
          width: 100%;
           margin-left: 9px;
          align-self: flex-start;

          font-size: 20px;
          font-size: 20px;
          .line {
            width: 60px;
            height: 2px;
            background: #b59571;
            color: #b59571;
          }
        }
      }

      .nameAndDescription {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        .nameRestaurant {
          width: 50%;
          height: 100%;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          .DeliveryServiceText {
            font-size: 61px;
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-left: 100px;
          }
        }

        .textAndButton {
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column;
          .restaurantDescription {
            width: 100%;
            font-size: 18px;
            display: flex;
            align-items: flex-end;
            margin-top: 40px;
          }
          .ServicesButtons {
            width: 85%;
            justify-content: space-between;
            display: flex;
            margin-top: 20px;
            .serviceButton {
              width: 163px;
              height: 48px;
              background-color: #b59571;
              border: none;
              color: white;
              font-size: 18px;
              transition: 0.5s;
              &:hover {
                background: rgba(0, 0, 0, 0);
                color: black;
                border: 1px solid #b59571;
              }
            }
            .ifServicesButton {
              width: 221px;
              height: 48px;
              background: none;
              border: 1px solid #333333;
              color: black;
              font-size: 18px;
              transition: 0.5s;
              &:hover {
                border: 1px solid #b59571;
                color: #b59571;
              }
            }
          }
        }
      }
    }
  }
}
