.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}

.AddMain{
    overflow-x: auto;
 
  scroll-snap-type: y mandatory;
.Main{
    justify-content: center;
}
    .aboutRestaurant{
        scroll-snap-align: start;

    }

    .footer{
        scroll-snap-align: end;
    }

}